.btn-primary {
    padding: 10px 15px;
}

.new-button {
   display: inline-block;
   padding: 15px 15px; 
   cursor: pointer;
   border-radius: 4px;
   background-color: #337ab7;
   font-size: 16px;
   color: #fff;
}

input[type="file"] {
   position: absolute;
   z-index: -1;
   top: 6px;
   left: 0;
   font-size: 15px;
   /* color: rgb(153,153,153); */
}

.button-wrap {
    margin-top: 10px;
    position: relative;
}

#fileName {
    margin-left: 10px;
    font-style: italic;
    font-weight: bold;
}

#errorText {
    padding-top: 5px;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 130%;
}