<h2>MSP From Spreadsheet</h2>
<div id="instructions">
    <p>Convert a spreadsheet of MS/MS data into a .msp file.</p>
    <p>Click 'Browse' and select an excel or csv file. Then click 'Submit' to download a converted .msp text file.</p>
    <p>
        Your spreadsheet should include columns with these labels: 'Average Rt(min)', 'Average Mz', 'Metabolite name', 'Adduct type', 
        'Formula', 'INCHIKEY', 'MS1 isotopic spectrum', and 'MS/MS spectrum'. It may include other columns, but those will not be included
        in the final product. Spelling is important but capitalization is not.
    </p>
</div>
<div id="examples">
    <!-- In downloadExample(), the name attribute is acquired and the dash is replaced by a period -->
    <!-- This allows the correct file to be downloaded i.e. example-msp => example.msp -->
    <!-- Hence whey there are both underscores and dashes -->
    Download example spreadsheets to upload 
    <a name="example_spreadsheet_large-xlsx" (click)="downloadExample($event)">here</a> and
    <a name="example_spreadsheet_small-xlsx" (click)="downloadExample($event)">here</a>.<br>
    Download an example of the resulting .msp file 
    <a name="example-msp" (click)="downloadExample($event)">here</a>.
</div>

<div class="button-wrap">
    <label class="new-button file-button" for="fileInput">
        <img src="../../assets/images/upload-button-24.png" width="20px" height="20px">
        Browse
    </label>
    <input id="fileInput" type="file" (change)="fileSelected($event)">
    <span id="fileName">{{ fileName }}</span>
</div>
<button id="submit" class="btn btn-primary file-button" [disabled]="!submitValid" (click)="readFileBuildMsp()">
    <img src="../../assets/images/upload-button-24.png" width="20px" height="20px">
    Submit
</button>
<div id="errorText"></div>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="ball-8bits" [fullScreen]="true">
    <p style="color: white; font-size: 50px;"> Please Wait... </p>
</ngx-spinner>

<!-- <ngx-spinner
bdOpacity = 0.9
bdColor = "#333"
size = "medium"
color = "#fff"
type = "ball-clip-rotate"
[fullScreen] = "true"
>
<p style="color: white" > Loading... </p>
</ngx-spinner> -->

<!-- <div id="file-buttons">
    <span class="button-wrap">
        <label class="new-button" for="fileInput">Browse...</label>
        <input id="fileInput" type="file" (change)="fileSelected($event)">
    </span>
    <button class="btn btn-primary" [disabled]="!submitValid" (click)="readFile()">Submit</button>
    <span id="fileName">{{ fileName }}</span>
</div> -->
<!-- <div id="errorText"></div> -->