.file-button {
    font-size: 20px;
    /* padding: 15px 50px; */
    padding-top: 15px;
    padding-bottom: 15px;
    width: 180px;
    text-align: center;
    font-weight: bold;
}

/* .btn-primary {
    padding: 15px 15px;
} */

.button-wrap {
    margin-top: 10px;
    position: relative;
}

.new-button {
    display: inline-block;
    /* padding: 15px 50px;  */
    cursor: pointer;
    border-radius: 4px;
    background-color: #337ab7;
    color: #fff;
 }

input[type="file"] {
   position: absolute;
   z-index: -1;
   /* top: 6px; */
   /* left: 0; */
   /* font-size: 15px; */
   /* color: rgb(153,153,153); */
}

#fileName {
    margin-left: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
}

#errorText {
    padding-top: 5px;
    color: red;
    font-style: italic;
    font-weight: bold;
    font-size: 130%;
}

img {
    /* padding-bottom: 0px; */

    /* works to move image */
    position: relative;
    bottom: 4px;
}

a {
    cursor: pointer;
}