/**
 * App-specific styles
 */

 /* Stuff Daniel is adding */
 
 /* #page-wrapper {
     padding-left: 20px;
 } */

.btn-primary {
     padding: 15px 30px;
 }

/* #fileInput {
	color:#337ab7;
	background-color:#fff;
} */